plinv
{
	background-color: rgb(174, 148, 64);

	text-align: center ;
	border: 3px outset rgb(221 192 125) ;
}


plinv>hands ,plinv>.grid
{
	box-sizing: border-box;

	--pad	:3mm ;
	padding	:var(--pad) ;
	margin	:1em auto ;
}


plinv hands
{
	display: block ;
	width: calc( 50mm + 2*var(--pad) ) ;
	height: calc( 50mm + 2*var(--pad) ) ;

	background: #c7bb8f url(hands.png) ;
	border: 1px inset rgb(174, 148, 64) ;
}


plinv hands > *
{
	display: block ;
	width: 100% ;
	height: 100% ;
}


plinv belt
{
	min-width: 85% ;
	min-height: calc( 20mm + 2*var(--pad) ) ;
}


plinv seedbag
{
	min-width: 50% ;
	min-height: calc( 20mm + 2*var(--pad) );
}